<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
					xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Meus pedidos</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

	<!--Menu-->
	<nav class="navbar fixed-top navbar-expand-lg"
		style="background: linear-gradient(rgba(0, 0, 0, 1), transparent)">
		<a class="navbar-brand text-white" href="/">
			Delivery
		</a>

		<button class="navbar-toggler ml-auto" type="button"
			data-toggle="collapse" data-target="#conteudoNavbarSuportado"
			aria-controls="conteudoNavbarSuportado" aria-expanded="false"
			aria-label="Alterna navegação">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse " id="conteudoNavbarSuportado">
			<ul class="navbar-nav ml-auto ">
				<li sec:authorize="isAnonymous()" class="nav-item px-2"><a class="nav-link text-white"
					href="/usuario/cadastro"> Cadastro de usuario </a></li>


				<li class="nav-item px-2 "><a class="nav-link text-white"
					href="/pratos/listagem"> Lista de pratos </a></li>

				<li sec:authorize="hasAnyRole('USER')"  class="nav-item px-2 "><a class="nav-link text-white"
					href="/pedidos/atual"> Meus pedidos </a></li>

				<li sec:authorize="hasAnyRole('ADMIN')"  class="nav-item px-2 "><a class="nav-link text-white"
					href="/pratos/cadastro"> Cadastro de pratos </a></li>

				<li sec:authorize="hasAnyRole('ADMIN')" class="nav-item px-2 "><a class="nav-link text-white"
					href="/pratos/cadastro"> Cadastro de gerente </a></li>

				<li sec:authorize="isAnonymous()" class="nav-item px-2"><a class="nav-link text-white"
					href="/login"> Entrar </a></li>

				<li sec:authorize="isAuthenticated()" class="nav-item px-2"><a class="nav-link text-white"
					href="/logout"> Sair </a></li>

			</ul>
		</div>
	</nav>



<div class="jumbotron bg-white mt-5">
		<h1 class="display-4 text-center">Aguardando Confirmação</h1>
		
		<hr>
	
		<div class="col d-flex justify-content-left">
			<div class="row">
				<div class="card shadow-sm mb-5 m-2" style="width: 15rem" th:each="itemPedido: ${itensPedido}">
					<div class="card-header py-1">
						<a th:href="@{/pedidos/remover-do-pedido/{id}(id = ${itemPedido.prato.id})}">
							<button id="close-button" data-toggle="tooltip" data-placement="top" title="Remover item" type="button" class="close" aria-label="Close">
								  <span aria-hidden="true">
								  	&times;
								  </span>
							</button>
						</a>
					</div>
	
	
					<img class="card-img-top" height="150" th:src="${itemPedido.prato.caminhoImagem}">
					
					
					<div class="card-body">
						<h5 class="card-title" th:text="${itemPedido.prato.nome}"></h5>
						<p class="card-text" th:text="'Preço: R$ ' + ${itemPedido.prato.preco}">
						
					</div>
					<div class="card-footer py-1 text-center">
						<p class="card-text" th:text="'quantidade: ' + ${itemPedido.quantidade}">
					</div>
				</div>
			</div>
		</div>
		
		<div class="row float-right bg-white" th:object="${valorTotal}">
			<p class="my-auto bg-light p-2" th:text="'Valor total: R$ ' + ${valorTotal}"/>
			<a th:href="@{/pedidos/cancelar}">
				<button type="button" class="btn btn-danger mx-3">Cancelar pedido</button>
			</a>
			<a th:href="@{/pedidos/salvar}">
				<button type="button" class="btn btn-success">Confirmar pedido</button>
			</a>
		</div>
		<hr/>
</div>

<div class="jumbotron mb-0">
	<h1 class="text-center display-4">Histórico de pedidos</h1>
	<hr>
	
	<div class="card mt-4 m-2 w-75 mx-auto" th:each="pedido: ${historico}">
		<div class="row no-gutters">
			
			<div class="col-md-2 bg-dark d-flex align-items-center justify-content-center text-white">
				<p class="p-0 m-0" th:text="${pedido.data}"></p>
			</div>
				
			<div class="card-body">
				<p class="p-0 m-0" th:text="${pedido.pratosDoPedido()}"></p>
			</div>
			
			<div class="card-footer d-flex align-items-center justify-content-center">
				<p class="p-0 m-0" th:text="'Total: R$ '+${pedido.valor}"></p>
			</div>
		</div>
	</div>
</div>
	
</body>
</html>